@sketch-radius-small: 5px;
@sketch-radius-medium: 75px;
@sketch-radius-large: 225px;

body {
  font-family: 'Walter Turncoat', cursive;
}

.mce-container .mce-txt {
  font-family: 'Walter Turncoat', cursive !important;
}

.ge-canvas.ge-editing .row, .btn, .panel, .modal-content, #preview {
  // border: solid 2px #41403E;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-top-left-radius: @sketch-radius-large @sketch-radius-small;
  border-top-right-radius: @sketch-radius-small @sketch-radius-large;
  border-bottom-right-radius: @sketch-radius-large @sketch-radius-small;
  border-bottom-left-radius: @sketch-radius-small @sketch-radius-large;
  border: 1px solid #999999;
}

.table-bordered {
  border-collapse: collapse;
  border-top-left-radius: @sketch-radius-large @sketch-radius-small;
  border-top-right-radius: @sketch-radius-small @sketch-radius-large;
  border-bottom-right-radius: @sketch-radius-large @sketch-radius-small;
  border-bottom-left-radius: @sketch-radius-small @sketch-radius-large;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #999999; /* this draws the table border  */
}

.table-bordered>tbody>tr>td:first-of-type, .table-bordered>thead>tr>th:first-of-type {
  border-collapse: collapse;
  border-bottom-left-radius: @sketch-radius-large 1px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 1px 0 0 #999999; /* this draws the table border  */
}

.table-bordered>tbody>tr>td:last-of-type, .table-bordered>thead>tr>th:last-of-type {
  border-collapse: collapse;
  border-bottom-right-radius: @sketch-radius-large @sketch-radius-small;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 1px 0 0 #999999; /* this draws the table border  */
}

.table-bordered>tbody>tr:last-of-type>td, .table-bordered>thead>tr:last-of-type>th {
  box-shadow: none;
}

.table-bordered>thead>tr>th {
  background-color: rgba(160, 160, 160, 0.15);
}

.ge-canvas.ge-editing .column:hover {
  border-top-left-radius: @sketch-radius-large @sketch-radius-small;
  border-top-right-radius: @sketch-radius-small @sketch-radius-large;
  border-bottom-right-radius: @sketch-radius-large @sketch-radius-small;
  border-bottom-left-radius: @sketch-radius-small @sketch-radius-large;
}

.panel-default > .panel-heading, .ge-canvas.ge-editing .row > .ge-tools-drawer {
  background-color: rgba(160, 160, 160, 0.15);
  border-bottom: 1px solid #999999;
  border-bottom-right-radius: @sketch-radius-large @sketch-radius-small;
  border-bottom-left-radius: @sketch-radius-large 1px;
}

.btn, textarea, .mce-panel {
  border-top-left-radius: @sketch-radius-medium @sketch-radius-small !important;
  border-top-right-radius: @sketch-radius-small @sketch-radius-medium !important;
  border-bottom-right-radius: @sketch-radius-medium @sketch-radius-small !important;
  border-bottom-left-radius: @sketch-radius-small @sketch-radius-medium !important;
}

.panel.sub-panel,
.panel.sub-panel .panel,
.panel.sub-panel .panel-heading,
 {
  border: none !important;
  margin-bottom: 0px;
  // border-top-left-radius: 0;
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  // border-bottom-left-radius: 0;
  box-shadow: none;
}

.panel.sub-panel .panel-heading {
  margin-top: 20px;
}

.panel.sub-panel .panel-heading {
  background-color: transparent;
  padding: 0;
  padding-bottom: 10px;
}

.panel.sub-panel .panel-body {
  padding: 0;
}

body.mce-content-body, .mce-panel {
  background-color: transparent !important;
}

.mce-stack-layout, .mce-floatpanel {
  background-color: #fff !important;
}

person {
  padding: 10px;
  font-style: normal;
}

person:before {
  content: "- "
}

.imagelist {
  list-style: none;
  padding: 0;

  li {
    margin: 0px 12px 12px 0px;
    float: left;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
  }
}
